NodeRed-flows/flows-myDimos.json
[{"id":"645add46.234644","type":"tab","label":"userAddIssue( [Post] user/:username/issue)","disabled":false,"info":""},{"id":"34058d08.1309f2","type":"tab","label":"userGetIssues ([Get] /user/:username/issue)","disabled":false,"info":""},{"id":"c3b34330.c014","type":"tab","label":"userGetFullContentIssue [Get] /user/:username/issue/:issueID","disabled":false,"info":""},{"id":"29dea58a.ac6aaa","type":"tab","label":"User Updates Issue","disabled":false,"info":""},{"id":"79afea60.4db264","type":"tab","label":"Delete Issue","disabled":false,"info":""},{"id":"bf2557a.cb267a8","type":"tab","label":"AdminGetIssues","disabled":false,"info":""},{"id":"aff75db8.0cebe","type":"tab","label":"AdminGetCertainIssue","disabled":false,"info":""},{"id":"51f27224.e9a42c","type":"tab","label":"Admin Update Issue","disabled":false,"info":""},{"id":"c77370e6.ade9","type":"tab","label":"Admin Deletes Issue","disabled":false,"info":""},{"id":"47008f91.129f","type":"tab","label":"Admin Adds Category","disabled":false,"info":""},{"id":"d27679f8.0afe48","type":"tab","label":"Admin view all categories","disabled":false,"info":""},{"id":"dcfd166f.852a58","type":"tab","label":"Admin Get Certain Category","disabled":false,"info":""},{"id":"61ec9474.eaaaac","type":"tab","label":"Admin Delete Category","disabled":false,"info":""},{"id":"4d1d0100.524ca","type":"tab","label":"Admin Update Category","disabled":false,"info":""},{"id":"96fa5601.fe0468","type":"mongodb","z":0,"hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"81188d88.6b947","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"myDimosDB","name":"myDimosDB"},{"id":"3f06d21b.70a2fe","type":"mongodb","z":0,"hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"fcd1eef6.c4d2b","type":"mongodb","z":"","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"49912f19.d94a","type":"mongodb","z":"","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"30f2f1a.ab6aa0e","type":"comment","z":"645add46.234644","name":"User Adding  a new issue.","info":"","x":130,"y":220,"wires":[]},{"id":"90c8389a.d5ebb8","type":"comment","z":"645add46.234644","name":"Post /user/:username/issue","info":"","x":130,"y":260,"wires":[]},{"id":"3779bfd9.5a284","type":"http in","z":"645add46.234644","name":"POST /user/:username/issue","url":"/user/:username/issue","method":"post","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["e42f6d09.b9f1a","b25a8c2e.db8cd","d42c7bd.1bb7288"]]},{"id":"e42f6d09.b9f1a","type":"debug","z":"645add46.234644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":400,"wires":[]},{"id":"d42c7bd.1bb7288","type":"change","z":"645add46.234644","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":320,"wires":[["a85eea82.be0a18"]]},{"id":"a85eea82.be0a18","type":"http response","z":"645add46.234644","name":"","statusCode":"","headers":{},"x":850,"y":320,"wires":[]},{"id":"b25a8c2e.db8cd","type":"mongodb out","z":"645add46.234644","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"issues","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":610,"y":240,"wires":[]},{"id":"79c2f4ff.a86eac","type":"inject","z":"645add46.234644","name":"AddIssue","topic":"","payload":"{ \"issueID\":\"3\", \"title\":\"Bad smell from rubbish.\", \"category\":\"Rubbish\", \"description\":\"Rubbish in the road.\", \"address\":\"Liakonos 3\", \"media\":\"encodedAUDIOVISUAL\", \"status\":\"1\", \"submitDateAndTime\":\"3-6-2020\", \"votes\":\"7\", \"userID\":\"13\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":620,"wires":[["b79d32cc.1b1e3"]]},{"id":"b79d32cc.1b1e3","type":"http request","z":"645add46.234644","name":"postIssue Request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:1880/user/mikalaki/issue","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":620,"wires":[["b5bd553a.402c98"]]},{"id":"b5bd553a.402c98","type":"debug","z":"645add46.234644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":620,"wires":[]},{"id":"e74b1c8c.e58c6","type":"http in","z":"34058d08.1309f2","name":"GET /user/:username/issue","url":"/user/:username/issue","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["69e5ae17.18b9"]]},{"id":"85efccb4.48ac4","type":"http response","z":"34058d08.1309f2","name":"","statusCode":"","headers":{},"x":1270,"y":220,"wires":[]},{"id":"69e5ae17.18b9","type":"mongodb in","z":"34058d08.1309f2","mongodb":"81188d88.6b947","name":"","collection":"issues","operation":"find","x":530,"y":220,"wires":[["bc6d4ea1.1246e","be8a47e7.90ee58"]]},{"id":"bc6d4ea1.1246e","type":"debug","z":"34058d08.1309f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":360,"wires":[]},{"id":"137aa18e.d0dcfe","type":"function","z":"34058d08.1309f2","name":"CreateResponsePayload","func":"response = {\n    issues: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["85efccb4.48ac4"]]},{"id":"46dd75d4.4ebd6c","type":"comment","z":"34058d08.1309f2","name":"GET /user/:username/issue","info":"","x":170,"y":160,"wires":[]},{"id":"f222c2ac.3bcb8","type":"comment","z":"34058d08.1309f2","name":"User views public Issues","info":"","x":170,"y":80,"wires":[]},{"id":"ede298d9.0867c8","type":"comment","z":"34058d08.1309f2","name":"User views his own pending issues","info":"","x":200,"y":120,"wires":[]},{"id":"b8dbe4f8.f12718","type":"inject","z":"34058d08.1309f2","name":"GetIssues","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":560,"wires":[["645aea0b.324584"]]},{"id":"645aea0b.324584","type":"http request","z":"34058d08.1309f2","name":"userGetIssues Request","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/user/mikalaki/issue","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":560,"wires":[["86f006b5.5bdc28"]]},{"id":"86f006b5.5bdc28","type":"debug","z":"34058d08.1309f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":560,"wires":[]},{"id":"be8a47e7.90ee58","type":"change","z":"34058d08.1309f2","name":"ReturnIssuesByStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["137aa18e.d0dcfe"]]},{"id":"10da1c46.9d9f74","type":"http in","z":"c3b34330.c014","name":"GET /user/:username/issue/:issueID","url":"/user/:username/issue/:issueID","method":"get","upload":false,"swaggerDoc":"","x":220,"y":200,"wires":[["fc115b2b.0ca1f8"]]},{"id":"794f2a12.2970f4","type":"http response","z":"c3b34330.c014","name":"","statusCode":"","headers":{},"x":1310,"y":240,"wires":[]},{"id":"fc115b2b.0ca1f8","type":"mongodb in","z":"c3b34330.c014","mongodb":"81188d88.6b947","name":"","collection":"issues","operation":"find","x":530,"y":200,"wires":[["6a3a0bdf.5e36d4","ea30b399.04434"]]},{"id":"6a3a0bdf.5e36d4","type":"debug","z":"c3b34330.c014","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":280,"wires":[]},{"id":"610545ee.fbb6dc","type":"function","z":"c3b34330.c014","name":"CreateResponsePayload","func":"response = {\n    issue: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":200,"wires":[["794f2a12.2970f4"]]},{"id":"501a28b6.faabd8","type":"comment","z":"c3b34330.c014","name":"GET /user/:username/issue/:issueID","info":"","x":220,"y":140,"wires":[]},{"id":"a43e3d2a.9e539","type":"comment","z":"c3b34330.c014","name":"User views public Issue's full content","info":"","x":220,"y":100,"wires":[]},{"id":"8d49be67.a4585","type":"comment","z":"c3b34330.c014","name":"Get the one issue the user wants to view","info":"","x":800,"y":160,"wires":[]},{"id":"45200a5e.57a924","type":"inject","z":"c3b34330.c014","name":"GetIssue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":460,"wires":[["29faccc2.2c52c4"]]},{"id":"29faccc2.2c52c4","type":"http request","z":"c3b34330.c014","name":"userGetIssueRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/user/mikalaki/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":460,"wires":[["8ffa95c6.b0cfd8"]]},{"id":"8ffa95c6.b0cfd8","type":"debug","z":"c3b34330.c014","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":460,"wires":[]},{"id":"ea30b399.04434","type":"function","z":"c3b34330.c014","name":"ReturnIssueByID","func":"var id = msg.req.params.issueID\n\n\n\n\n\nvar obj = msg.payload\n\n// the code you're looking for\nvar needle = 'AL';\n\n// iterate over each element in the array\nfor (var i = 0; i < obj.length; i++){\n  // look for the entry with a matching `code` value\n  if (obj[i]['issueID'] == id){\n     msg.payload=obj[i];\n     return msg\n  }\n}\n","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["610545ee.fbb6dc"]]},{"id":"22c41ac9.0b8da6","type":"comment","z":"79afea60.4db264","name":"User Deletes Issue","info":"","x":290,"y":140,"wires":[]},{"id":"dd8d811e.496dc","type":"comment","z":"79afea60.4db264","name":"Delete /user/:username/issue/:issueID","info":"","x":350,"y":200,"wires":[]},{"id":"decad043.279d3","type":"http in","z":"79afea60.4db264","name":"DELETE /user/:username/issue/:issueID","url":"/user/:username/issue/:issueID","method":"delete","upload":false,"swaggerDoc":"","x":360,"y":260,"wires":[["9401b12e.f9c21","5511a691.2965b8","1b196ca4.8937a3"]]},{"id":"9401b12e.f9c21","type":"debug","z":"79afea60.4db264","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":340,"wires":[]},{"id":"1b196ca4.8937a3","type":"change","z":"79afea60.4db264","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["637ff13.589221"]]},{"id":"637ff13.589221","type":"http response","z":"79afea60.4db264","name":"","statusCode":"","headers":{},"x":930,"y":260,"wires":[]},{"id":"5511a691.2965b8","type":"mongodb out","z":"79afea60.4db264","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"issues","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":670,"y":180,"wires":[]},{"id":"e2c8db63.fa8de8","type":"inject","z":"79afea60.4db264","name":"DeleteIssue","topic":"","payload":"{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"7\",\"userID\":\"13\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":500,"wires":[["8a06647c.347e48"]]},{"id":"8a06647c.347e48","type":"http request","z":"79afea60.4db264","name":"userDeleteIssueRequest","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:1880/user/mikalaki/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":500,"wires":[["a884b980.ebe0f8"]]},{"id":"a884b980.ebe0f8","type":"debug","z":"79afea60.4db264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":500,"wires":[]},{"id":"2f5981d5.ce34ee","type":"comment","z":"29dea58a.ac6aaa","name":"User Updates Issue","info":"","x":250,"y":100,"wires":[]},{"id":"4bc5c943.6098e8","type":"comment","z":"29dea58a.ac6aaa","name":"Put /user/:username/issue/:issueID","info":"","x":300,"y":160,"wires":[]},{"id":"f6b55924.5b9278","type":"http in","z":"29dea58a.ac6aaa","name":"PUT /user/:username/issue/:issueID","url":"/user/:username/issue/:issueID","method":"put","upload":false,"swaggerDoc":"","x":300,"y":220,"wires":[["60e591bb.c9d92","270d2861.939ab8","e103e6ee.c5c698"]]},{"id":"60e591bb.c9d92","type":"debug","z":"29dea58a.ac6aaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":300,"wires":[]},{"id":"e103e6ee.c5c698","type":"change","z":"29dea58a.ac6aaa","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["f65396ef.74ef48"]]},{"id":"f65396ef.74ef48","type":"http response","z":"29dea58a.ac6aaa","name":"","statusCode":"","headers":{},"x":930,"y":260,"wires":[]},{"id":"270d2861.939ab8","type":"mongodb out","z":"29dea58a.ac6aaa","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"issues","payonly":true,"upsert":false,"multi":true,"operation":"update","x":650,"y":100,"wires":[]},{"id":"2e6fcbff.33cbd4","type":"inject","z":"29dea58a.ac6aaa","name":"UpdateIssue","topic":"","payload":"{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"8\",\"userID\":\"13\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":480,"wires":[["b361d974.531ac8"]]},{"id":"b361d974.531ac8","type":"http request","z":"29dea58a.ac6aaa","name":"userUpdateIssueRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:1880/user/mikalaki/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":480,"wires":[["eb558cec.cc4c"]]},{"id":"eb558cec.cc4c","type":"debug","z":"29dea58a.ac6aaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":480,"wires":[]},{"id":"97ba5e98.b5cfd","type":"http in","z":"bf2557a.cb267a8","name":"GET  /admin/:adminUsername/issue","url":"/admin/:adminUsername/issue","method":"get","upload":false,"swaggerDoc":"","x":260,"y":200,"wires":[["53fc0a1d.90ee94"]]},{"id":"ca340f22.12113","type":"http response","z":"bf2557a.cb267a8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1230,"y":200,"wires":[]},{"id":"53fc0a1d.90ee94","type":"mongodb in","z":"bf2557a.cb267a8","mongodb":"81188d88.6b947","name":"","collection":"issues","operation":"find","x":590,"y":200,"wires":[["9b43ac05.7c87e","6cc93f49.81311"]]},{"id":"9b43ac05.7c87e","type":"debug","z":"bf2557a.cb267a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":340,"wires":[]},{"id":"6cc93f49.81311","type":"function","z":"bf2557a.cb267a8","name":"CreateResponsePayload","func":"response = {\n    issues: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":200,"wires":[["ca340f22.12113"]]},{"id":"4d313376.2a868c","type":"comment","z":"bf2557a.cb267a8","name":"GET  /admin/:adminUsername/issue","info":"","x":260,"y":140,"wires":[]},{"id":"43bc28c5.44abf8","type":"comment","z":"bf2557a.cb267a8","name":"Admin views all Issues","info":"","x":220,"y":80,"wires":[]},{"id":"b02c4412.57d2d8","type":"inject","z":"bf2557a.cb267a8","name":"GetIssuesAdmin","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":540,"wires":[["3f9968eb.0df358"]]},{"id":"3f9968eb.0df358","type":"http request","z":"bf2557a.cb267a8","name":"adminGetIssuesRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mikalaki/issue","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":540,"wires":[["ce9af482.90a458"]]},{"id":"ce9af482.90a458","type":"debug","z":"bf2557a.cb267a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":540,"wires":[]},{"id":"4cda4a6e.4756e4","type":"http in","z":"aff75db8.0cebe","name":"GET /admin/:adminUsername/issue/:issueID","url":"/admin/:adminUsername/issue/:issueID","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["e6b2e30f.70fdb"]]},{"id":"2dc341af.d3302e","type":"http response","z":"aff75db8.0cebe","name":"","statusCode":"","headers":{},"x":1290,"y":240,"wires":[]},{"id":"e6b2e30f.70fdb","type":"mongodb in","z":"aff75db8.0cebe","mongodb":"81188d88.6b947","name":"","collection":"issues","operation":"find","x":530,"y":200,"wires":[["b160b2f4.718af","e5b0bdcb.52b52"]]},{"id":"b160b2f4.718af","type":"debug","z":"aff75db8.0cebe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":300,"wires":[]},{"id":"6a1f0e7c.30c97","type":"function","z":"aff75db8.0cebe","name":"ResponseFormat","func":"response = {\n    issue: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[["2dc341af.d3302e"]]},{"id":"3b1f7bc1.863654","type":"comment","z":"aff75db8.0cebe","name":"GET /admin/:adminUsername/issue/:issueID","info":"","x":190,"y":140,"wires":[]},{"id":"9644618e.f2351","type":"comment","z":"aff75db8.0cebe","name":"Admin views Issue's full content","info":"","x":150,"y":100,"wires":[]},{"id":"f6ddd2a2.9c31d","type":"comment","z":"aff75db8.0cebe","name":"Get the one issue the admin wants to view","info":"","x":800,"y":140,"wires":[]},{"id":"f072086f.0f4a88","type":"inject","z":"aff75db8.0cebe","name":"GetIssue","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":480,"wires":[["6ea8a8d0.a03a38"]]},{"id":"6ea8a8d0.a03a38","type":"http request","z":"aff75db8.0cebe","name":"adminGetIssueRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mika/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":480,"wires":[["6e8427e1.4f0c28"]]},{"id":"6e8427e1.4f0c28","type":"debug","z":"aff75db8.0cebe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":480,"wires":[]},{"id":"e5b0bdcb.52b52","type":"function","z":"aff75db8.0cebe","name":"ReturnIssueByID","func":"var id = msg.req.params.issueID\n\n\n\n\n\nvar obj = msg.payload\n\n// the code you're looking for\nvar needle = 'AL';\n\n// iterate over each element in the array\nfor (var i = 0; i < obj.length; i++){\n  // look for the entry with a matching `code` value\n  if (obj[i]['issueID'] == id){\n     msg.payload=obj[i];\n     return msg\n  }\n}\n","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["6a1f0e7c.30c97"]]},{"id":"fd0661b6.87ffa","type":"comment","z":"51f27224.e9a42c","name":"Admin Updates Issue","info":"","x":200,"y":140,"wires":[]},{"id":"4094861b.883748","type":"comment","z":"51f27224.e9a42c","name":"Put /admin/:adminUsername/issue/:issueID","info":"","x":260,"y":200,"wires":[]},{"id":"b4e99213.416d3","type":"http in","z":"51f27224.e9a42c","name":"PUT /admin/:adminUsername/issue/:issueID","url":"/admin/:adminUsername/issue/:issueID","method":"put","upload":false,"swaggerDoc":"","x":270,"y":260,"wires":[["e86e1438.3e8628","e57c834a.71661","f7402f57.97cdd"]]},{"id":"e86e1438.3e8628","type":"debug","z":"51f27224.e9a42c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":340,"wires":[]},{"id":"f7402f57.97cdd","type":"change","z":"51f27224.e9a42c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":260,"wires":[["b717fd50.bc7b2"]]},{"id":"b717fd50.bc7b2","type":"http response","z":"51f27224.e9a42c","name":"","statusCode":"","headers":{},"x":890,"y":300,"wires":[]},{"id":"e57c834a.71661","type":"mongodb out","z":"51f27224.e9a42c","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"issues","payonly":true,"upsert":false,"multi":true,"operation":"update","x":610,"y":140,"wires":[]},{"id":"58defa16.127b04","type":"inject","z":"51f27224.e9a42c","name":"UpdateIssue","topic":"","payload":"{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"7\",\"userID\":\"13\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":600,"wires":[["f7d70294.f2731"]]},{"id":"f7d70294.f2731","type":"http request","z":"51f27224.e9a42c","name":"adminUpdateIssueRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mikalaki/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":600,"wires":[["9db894e.9a71568"]]},{"id":"9db894e.9a71568","type":"debug","z":"51f27224.e9a42c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":600,"wires":[]},{"id":"bc00eb14.bc9a68","type":"comment","z":"c77370e6.ade9","name":"Admin Deletes Issue","info":"","x":170,"y":80,"wires":[]},{"id":"b97e56b0.ff9d88","type":"comment","z":"c77370e6.ade9","name":"Delete /admin/:adminUsername/issue/:issueID","info":"","x":250,"y":140,"wires":[]},{"id":"62ac38d0.4263b8","type":"http in","z":"c77370e6.ade9","name":"DELETE /admin/:adminUsername/issue/:issueID","url":"/admin/:adminUsername/issue/:issueID","method":"delete","upload":false,"swaggerDoc":"","x":260,"y":200,"wires":[["412e2d36.b72f44","de7b1c21.e7096","275b620a.8b70de"]]},{"id":"412e2d36.b72f44","type":"debug","z":"c77370e6.ade9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]},{"id":"275b620a.8b70de","type":"change","z":"c77370e6.ade9","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["e9c2db1f.858b48"]]},{"id":"e9c2db1f.858b48","type":"http response","z":"c77370e6.ade9","name":"","statusCode":"","headers":{},"x":850,"y":200,"wires":[]},{"id":"de7b1c21.e7096","type":"mongodb out","z":"c77370e6.ade9","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"issues","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":590,"y":120,"wires":[]},{"id":"8ce12f77.25061","type":"inject","z":"c77370e6.ade9","name":"AdminDeleteIssue","topic":"","payload":"{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"7\",\"userID\":\"13\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":480,"wires":[["60010065.d633b"]]},{"id":"60010065.d633b","type":"http request","z":"c77370e6.ade9","name":"adminDeleteIssueRequest","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mikalaki/issue/3","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":500,"wires":[["dd8d0e62.fd212"]]},{"id":"dd8d0e62.fd212","type":"debug","z":"c77370e6.ade9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":480,"wires":[]},{"id":"4f1abc87.e19cf4","type":"comment","z":"47008f91.129f","name":"Admin adds Category","info":"","x":140,"y":120,"wires":[]},{"id":"12b49f0a.8e4541","type":"comment","z":"47008f91.129f","name":"Post /admin/:adminUsername/category","info":"","x":190,"y":160,"wires":[]},{"id":"31556eda.c57192","type":"http in","z":"47008f91.129f","name":"POST /admin/:adminUsername/category","url":"/admin/:adminUsername/category","method":"post","upload":false,"swaggerDoc":"","x":200,"y":220,"wires":[["fc5e99bf.829488","3941afc0.8b545","39982fe9.ede43"]]},{"id":"fc5e99bf.829488","type":"debug","z":"47008f91.129f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":300,"wires":[]},{"id":"39982fe9.ede43","type":"change","z":"47008f91.129f","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["df3bb836.1b9d58"]]},{"id":"df3bb836.1b9d58","type":"http response","z":"47008f91.129f","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"3941afc0.8b545","type":"mongodb out","z":"47008f91.129f","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"categories","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":630,"y":140,"wires":[]},{"id":"af625892.8115f8","type":"inject","z":"47008f91.129f","name":"AddCategory","topic":"","payload":"{   \"categoryID\":\"2\",   \"CategoryΝame\":\"Rubbish\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":520,"wires":[["7d9305d7.e3e07c"]]},{"id":"7d9305d7.e3e07c","type":"http request","z":"47008f91.129f","name":"adminPostCategoryRequest","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/:adminUsername/category","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":500,"wires":[["3ed419d9.0b87d6"]]},{"id":"3ed419d9.0b87d6","type":"debug","z":"47008f91.129f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":520,"wires":[]},{"id":"c7ec48d9.cb4378","type":"http in","z":"d27679f8.0afe48","name":"GET  /admin/:adminUsername/category","url":"/admin/:adminUsername/category","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["c3d8c1c3.a284"]]},{"id":"e587b675.4fc6c8","type":"http response","z":"d27679f8.0afe48","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1190,"y":220,"wires":[]},{"id":"c3d8c1c3.a284","type":"mongodb in","z":"d27679f8.0afe48","mongodb":"81188d88.6b947","name":"","collection":"categories","operation":"find","x":570,"y":220,"wires":[["de529ff0.3da41","276ba676.9c81ba"]]},{"id":"de529ff0.3da41","type":"debug","z":"d27679f8.0afe48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":360,"wires":[]},{"id":"276ba676.9c81ba","type":"function","z":"d27679f8.0afe48","name":"CreateResponsePayload","func":"response = {\n    categories: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["e587b675.4fc6c8"]]},{"id":"f4bd381b.143cd8","type":"comment","z":"d27679f8.0afe48","name":"GET  /admin/:adminUsername/category","info":"","x":230,"y":160,"wires":[]},{"id":"420c3524.7378fc","type":"comment","z":"d27679f8.0afe48","name":"Admin views all categories","info":"","x":190,"y":100,"wires":[]},{"id":"628b362.2da16c8","type":"inject","z":"d27679f8.0afe48","name":"GetCategoriesAdmin","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["b41781e0.b233e"]]},{"id":"b41781e0.b233e","type":"http request","z":"d27679f8.0afe48","name":"adminGetCategoriesRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mikalaki/category","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":540,"wires":[["5933b7d6.c08508"]]},{"id":"5933b7d6.c08508","type":"debug","z":"d27679f8.0afe48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":540,"wires":[]},{"id":"9ae6c84f.4d95c8","type":"http in","z":"dcfd166f.852a58","name":"GET /admin/:adminUsername/category/:categoryID","url":"/admin/:adminUsername/category/:categoryID","method":"get","upload":false,"swaggerDoc":"","x":250,"y":180,"wires":[["8d020ce3.29213"]]},{"id":"66bfab3c.045594","type":"http response","z":"dcfd166f.852a58","name":"","statusCode":"","headers":{},"x":1330,"y":220,"wires":[]},{"id":"8d020ce3.29213","type":"mongodb in","z":"dcfd166f.852a58","mongodb":"81188d88.6b947","name":"","collection":"categories","operation":"find","x":590,"y":180,"wires":[["390141a6.4025be","e90314fe.00dee8"]]},{"id":"390141a6.4025be","type":"debug","z":"dcfd166f.852a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":280,"wires":[]},{"id":"1b442f5f.732bf1","type":"function","z":"dcfd166f.852a58","name":"ResponseFormat","func":"response = {\n    issue: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":180,"wires":[["66bfab3c.045594"]]},{"id":"94a646.a31e89b8","type":"comment","z":"dcfd166f.852a58","name":"GET /admin/:adminUsername/category/:categoryID","info":"","x":250,"y":120,"wires":[]},{"id":"a925cd66.416d5","type":"comment","z":"dcfd166f.852a58","name":"Admin get a category","info":"","x":160,"y":80,"wires":[]},{"id":"b2f82db1.dcf62","type":"inject","z":"dcfd166f.852a58","name":"GetCategory","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":420,"wires":[["4d2c367a.4ed748"]]},{"id":"4d2c367a.4ed748","type":"http request","z":"dcfd166f.852a58","name":"adminGetCategoryRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mika/category/2","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":420,"wires":[["dadb984a.451d58"]]},{"id":"dadb984a.451d58","type":"debug","z":"dcfd166f.852a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":420,"wires":[]},{"id":"e90314fe.00dee8","type":"function","z":"dcfd166f.852a58","name":"ReturnCategoryByID","func":"var id = msg.req.params.categoryID\n\n\n\n\n\nvar obj = msg.payload\n\n// the code you're looking for\nvar needle = 'AL';\n\n// iterate over each element in the array\nfor (var i = 0; i < obj.length; i++){\n  // look for the entry with a matching `code` value\n  if (obj[i]['categoryID'] == 2){\n     msg.payload=obj[i];\n     return msg\n  }\n}\n","outputs":1,"noerr":0,"x":860,"y":180,"wires":[["1b442f5f.732bf1"]]},{"id":"177d8117.ef2f7f","type":"comment","z":"61ec9474.eaaaac","name":"Admin Deletes Category","info":"","x":190,"y":100,"wires":[]},{"id":"64504156.af422","type":"comment","z":"61ec9474.eaaaac","name":"Delete /admin/:adminUsername/category/:categoryID","info":"","x":270,"y":160,"wires":[]},{"id":"8747dde9.4d006","type":"http in","z":"61ec9474.eaaaac","name":"DELETE /admin/:adminUsername/category/:categoryID","url":"/admin/:adminUsername/category/:categoryID","method":"delete","upload":false,"swaggerDoc":"","x":280,"y":220,"wires":[["a1b9fe85.ba6d2","70500103.c63f1","57dff6e2.ebadb8"]]},{"id":"a1b9fe85.ba6d2","type":"debug","z":"61ec9474.eaaaac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":300,"wires":[]},{"id":"57dff6e2.ebadb8","type":"change","z":"61ec9474.eaaaac","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["a614c8a1.3f62f8"]]},{"id":"a614c8a1.3f62f8","type":"http response","z":"61ec9474.eaaaac","name":"","statusCode":"","headers":{},"x":850,"y":220,"wires":[]},{"id":"70500103.c63f1","type":"mongodb out","z":"61ec9474.eaaaac","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"categories","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":610,"y":140,"wires":[]},{"id":"c2b39b5.d30b168","type":"inject","z":"61ec9474.eaaaac","name":"AdminDeleteCategory","topic":"","payload":"{  \"categoryID\":\"2\",   \"CategoryΝame\":\"Rubbish\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":440,"wires":[["ddff5f43.2ab43"]]},{"id":"ddff5f43.2ab43","type":"http request","z":"61ec9474.eaaaac","name":"adminDeleteCategoryRequest","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/mikalaki/category/3","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":440,"wires":[["14cb6d8b.29fbd2"]]},{"id":"14cb6d8b.29fbd2","type":"debug","z":"61ec9474.eaaaac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":440,"wires":[]},{"id":"e26f60dd.d152d","type":"comment","z":"4d1d0100.524ca","name":"Admin Updates Category","info":"","x":170,"y":120,"wires":[]},{"id":"3a6e602.42f00a","type":"comment","z":"4d1d0100.524ca","name":"Put /admin/:adminUsername/category/:categoryID","info":"","x":240,"y":180,"wires":[]},{"id":"5e5c6be0.0350c4","type":"http in","z":"4d1d0100.524ca","name":"PUT /admin/:adminUsername/category/:categoryID","url":"/admin/:adminUsername/category/:categoryID","method":"put","upload":false,"swaggerDoc":"","x":250,"y":240,"wires":[["14adbe93.998d81","606c23f1.3ebbec","2463c0dd.fffe1"]]},{"id":"14adbe93.998d81","type":"debug","z":"4d1d0100.524ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":320,"wires":[]},{"id":"2463c0dd.fffe1","type":"change","z":"4d1d0100.524ca","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[["bc403b19.607a38"]]},{"id":"bc403b19.607a38","type":"http response","z":"4d1d0100.524ca","name":"","statusCode":"","headers":{},"x":850,"y":280,"wires":[]},{"id":"606c23f1.3ebbec","type":"mongodb out","z":"4d1d0100.524ca","mongodb":"81188d88.6b947","name":"myDimosDB","collection":"categories","payonly":true,"upsert":false,"multi":true,"operation":"update","x":570,"y":120,"wires":[]},{"id":"fde1c243.9d878","type":"inject","z":"4d1d0100.524ca","name":"UpdateCategory","topic":"","payload":"{   \"categoryID\":\"2\",   \"CategoryΝame\":\"Rubbish\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":480,"wires":[["1eb92507.4a5b6b"]]},{"id":"1eb92507.4a5b6b","type":"http request","z":"4d1d0100.524ca","name":"adminUpdateCategoryRequest","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:1880/admin/:adminUsername/category/:categoryID","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":480,"wires":[["72a0f724.7e2298"]]},{"id":"72a0f724.7e2298","type":"debug","z":"4d1d0100.524ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":520,"wires":[]},{"id":"bceea16d.6c535","type":"comment","z":"645add46.234644","name":"Service:","info":"","x":560,"y":120,"wires":[]},{"id":"c5fc988d.d10878","type":"comment","z":"34058d08.1309f2","name":"Service:","info":"","x":620,"y":60,"wires":[]},{"id":"a6a7587c.466078","type":"comment","z":"c3b34330.c014","name":"Service:","info":"","x":660,"y":40,"wires":[]},{"id":"aa600792.cd8db8","type":"comment","z":"29dea58a.ac6aaa","name":"Service:","info":"","x":660,"y":40,"wires":[]},{"id":"34a90471.a8129c","type":"comment","z":"79afea60.4db264","name":"Service:","info":"","x":660,"y":40,"wires":[]},{"id":"60aa65fd.65a87c","type":"comment","z":"bf2557a.cb267a8","name":"Service:","info":"","x":640,"y":40,"wires":[]},{"id":"207b56e9.cfbf9a","type":"comment","z":"aff75db8.0cebe","name":"Service:","info":"","x":680,"y":40,"wires":[]},{"id":"56c108c.749bdf8","type":"comment","z":"51f27224.e9a42c","name":"Service:","info":"","x":660,"y":60,"wires":[]},{"id":"372bb225.42a1de","type":"comment","z":"c77370e6.ade9","name":"Service:","info":"","x":640,"y":40,"wires":[]},{"id":"6b7a48b3.106c18","type":"comment","z":"47008f91.129f","name":"Service:","info":"","x":660,"y":40,"wires":[]},{"id":"fc86a141.b2652","type":"comment","z":"d27679f8.0afe48","name":"Service:","info":"","x":680,"y":40,"wires":[]},{"id":"a578bc65.62c3e","type":"comment","z":"dcfd166f.852a58","name":"Service:","info":"","x":680,"y":40,"wires":[]},{"id":"e3c47174.90bc9","type":"comment","z":"61ec9474.eaaaac","name":"Service:","info":"","x":640,"y":40,"wires":[]},{"id":"fdc92376.edd0e","type":"comment","z":"4d1d0100.524ca","name":"Service:","info":"","x":680,"y":40,"wires":[]},{"id":"1f793a03.c95536","type":"comment","z":"34058d08.1309f2","name":"Application:","info":"","x":530,"y":500,"wires":[]},{"id":"981aea0d.6e3728","type":"comment","z":"645add46.234644","name":"Application:","info":"","x":550,"y":540,"wires":[]},{"id":"12f260a1.b9c09f","type":"comment","z":"c3b34330.c014","name":"Application:","info":"","x":590,"y":400,"wires":[]},{"id":"894c8407.bf4b28","type":"comment","z":"29dea58a.ac6aaa","name":"Application:","info":"","x":630,"y":420,"wires":[]},{"id":"9c53d25.ed63b3","type":"comment","z":"79afea60.4db264","name":"Application:","info":"","x":630,"y":440,"wires":[]},{"id":"94011829.7dc178","type":"comment","z":"bf2557a.cb267a8","name":"Application:","info":"","x":630,"y":480,"wires":[]},{"id":"397e4f4a.3acab","type":"comment","z":"aff75db8.0cebe","name":"Application:","info":"","x":650,"y":420,"wires":[]},{"id":"61a9799a.4b4718","type":"comment","z":"51f27224.e9a42c","name":"Application:","info":"","x":590,"y":540,"wires":[]},{"id":"2fd66413.8b7ecc","type":"comment","z":"c77370e6.ade9","name":"Application:","info":"","x":610,"y":420,"wires":[]},{"id":"3515096b.35d786","type":"comment","z":"47008f91.129f","name":"Application:","info":"","x":670,"y":440,"wires":[]},{"id":"b3a23a93.647ee8","type":"comment","z":"dcfd166f.852a58","name":"Application:","info":"","x":570,"y":360,"wires":[]},{"id":"bbacfe2d.238f9","type":"comment","z":"61ec9474.eaaaac","name":"Application:","info":"","x":610,"y":380,"wires":[]},{"id":"7937420.33d59c","type":"comment","z":"4d1d0100.524ca","name":"Application:","info":"","x":590,"y":420,"wires":[]},{"id":"b325c5d4.a2db68","type":"comment","z":"d27679f8.0afe48","name":"Application:","info":"","x":550,"y":460,"wires":[]}]